# Logs
logs                # Log directory
*.log               # Log files
npm-debug.log*      # npm debug logs
yarn-debug.log*     # yarn debug logs
yarn-error.log*     # yarn error logs
pnpm-debug.log*     # pnpm debug logs
lerna-debug.log*    # lerna debug logs

# Dependency directories
node_modules        # Node.js modules

# Build output
dist                # Distribution folder
dist-ssr            # Server-side rendering build output
*.local             # Local environment files

# Editor directories and files
.vscode/*           # VS Code settings
!.vscode/extensions.json  # Allow extensions.json to be tracked
.idea               # JetBrains IDE settings
.DS_Store           # macOS Finder metadata
*.suo               # Visual Studio solution user options
*.ntvs*             # Node.js Tools for Visual Studio files
*.njsproj           # Node.js project files for Visual Studio
*.sln               # Visual Studio solution files
*.sw?               # Swap files (e.g., .swa, .swp)